{
  "extends": "airbnb",
  "rules": {
    "comma-dangle": ["error", "never"],
    "import/newline-after-import": 0,
    "object-shorthand": ['error', 'consistent'],
    "no-shadow": ["warn", { "hoist": "functions", "allow": ["response"] }],
    "no-param-reassign": ["warn", { "props": true }],
    "no-unused-expressions": [2, { allowTernary: true }],
  },
  "env": {
    "jasmine": true
  }
}
