{
  "extends": "airbnb",
  "rules": {
    "comma-dangle": ["error", "never"],
    "import/newline-after-import": 0,
    "object-shorthand": ['error', 'consistent'],
    "no-shadow": ["warn", { "hoist": "functions", "allow": ["error", "response", "body"] }],
    "no-param-reassign": ["warn", { "props": true }],
    "no-unused-expressions": [2, { allowTernary: true }],
    "no-unused-vars": ["warn"],
    "arrow-body-style": ["error", "always"]
  },
  "env": {
    "jasmine": true,
    "mocha": true
  }
}
